.parent-container {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  padding: 60px;
}
@media screen and (max-width: 600px) {
  .parent-container {
    display: flex;
    flex-direction: column;
  }
}
